<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
    </style>
</head>
<body>
                    <table style="width:100%">
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                          <th>Admin</th>
                          <th>Super User</th>
                          <th>Last Login</th>
                          <th>Date Joined</th>
                          <th>Team</th>
                          <th>Action</th>
                      </tr>
                        <tr><td>1</td><td>admin</td><td>ygprakash27@gmail.com</td><td>True</td><td>True</td><td>2019-07-21 13:33:38.221375</td><td>2019-07-21 13:33:38.221375</td><td>admin</td><td><button type="button" onclick="/update?val" method="POST" class="btn btn-primary">Update</button></td></tr><tr><td>2</td><td>gowtham</td><td>ygprakash27@gmail.com</td><td>True</td><td>True</td><td>2019-07-21 14:40:05.169258</td><td>2019-07-21 14:40:05.169258</td><td>developer</td><td><button type="button" onclick="/update?val" method="POST" class="btn btn-primary">Update</button></td></tr>
                        </table>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>